doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="description", content="Control Haibu clouds with a web app")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="designer", content="gildean <http://julkinen.salaliitto.com>")
    title Hachi
    link(rel="shortcut icon", href="/stylesheets/favicon.ico")
    link(rel="apple-touch-icon", href="/stylesheets/apple-touch-icon.png")
    link(rel="stylesheet", href="/stylesheets/jquery-ui.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    block head
  body
    block content
    script(src="/js/jquery.js")
    script(src="/js/jquery-ui.js")
    script(src="/js/moment.js")
    script(src="/js/queries.js")
