extends index
block content
  #bg
  #main
    img#logo(src="/logo.png")
    h1#pagetitle Hachi
      span.tooltip
        a(href="http://julkinen.salaliitto.com/") by: 
          span ok 2012
    #nav.hidden(style="display: none")
      span#navstatus(style="display: none")
      button#autorefresh.actionbutton autorefresh
      button#refreshall.actionbutton refresh view
      button#addbutton.actionbutton new app
      button#setbutton.actionbutton settings
    #statusmessage
    #refreshstatus
    a#logout(href="/logout") logout
    ul#drones(style="display: none")
    #settings
      ul#users
    #adduser
      form(id="adduserform", action="/adduser")
    #addapp
      p something here
    #dronestatus
