extends index
block content
  #bg
  #main
    h1#pagetitle login
    form#login(name="login", method="post", action="/login")
      input.textinput(name="username", type="text", required)
      input.textinput(name="password", type="password", required)
      input(type="hidden", name="_csrf", value="#{token}")
      input.button(type="submit", value="login")
